@charset "UTF-8";
:root{
    --vermelho: #E50914;
    --preta: #141414;
}

body{ 
    background: #141414;
}

header.cabecalho 
{
    background-image: linear-gradient( to bottom, #111112, #141414); 
    display: flex;
    

}
header .logo {
    color: var(--vermelho);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    margin-left: 7px;
    margin-left: 43px;
    
}

/*
background-image: linear-gradient( to right, blue, red);*/